/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  margin-top: 0;
}

.hidden {
  display: none;
}

/* Login Section */
#loginSection, #userSection, #adminSection {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

#loginSection input[type="text"], #loginSection input[type="password"], #boardCount {
  padding: 8px;
  margin: 5px;
  font-size: 1rem;
}

#loginBtn, #generateBoardsBtn, #calculatePriceBtn, #simulateDrawBtn, #nextStepBtn, #adminSimulateDrawBtn, .logoutBtn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
}

#loginBtn:hover, #generateBoardsBtn:hover, #calculatePriceBtn:hover, #simulateDrawBtn:hover, #nextStepBtn:hover, #adminSimulateDrawBtn:hover, .logoutBtn:hover {
  background-color: #555;
}

/* User Section */
#ticketDetailsContainer {
  margin-top: 20px;
}

#ticketInfo {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#ticketInfo h4 {
  margin-top: 0;
}

.number-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjust as necessary */
  margin: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1rem;
  width: 40px; /* Ensure uniform circular size */
  height: 40px; /* Ensure uniform circular size */
  line-height: 1;
  text-align: center;
}

.number-button.red {
  background-color: #e74c3c;
  color: white;
}

.number-button.yellow {
  background-color: #f39c12;
  color: white;
}

.number-button.green {
  background-color: #27ae60;
  color: white;
}

.number-button.blue {
  background-color: #3498db;
  color: white;
}

.number-button.selected {
  opacity: 0.8;
}

#boardsContainer {
  margin-top: 20px;
}

.board {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.board h3 {
  margin-top: 0;
}

.numbers-container {
  margin-top: 10px;
}

/* Draw Results Section */
#drawResults {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Admin Section */
#adminDrawResults {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 600px) {
  main {
    padding: 10px;
  }

  .number-button {
    padding: 15px; /* Adjust as necessary */
    width: 30px; /* Adjust as necessary */
    height: 30px; /* Adjust as necessary */
    line-height: 1;
  }
}
#userSection #simulateDrawBtn {
  display: none;
}
